#clockContainer
{
    position: relative;
    margin: auto;
    background-color: lightcoral;
    height: 40vw;
    width: 40vw;
    
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour ,#minute,#second
{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour
{      width: 1.5%;
    height: 17%;
    top: 16%;
    left: 49.65%;
    opacity: 0.8;
    
}
    
#minute
{
    width: 1%;
    height: 21%;
    top: 12%;
    left: 49.8%;
    opacity: 0.8;
    
    
    
}

#second
{
    width: 0.5%;
    height: 29%;
    top: 4%;
    left: 50.10%;
    opacity: 0.8;
    background-color: red;
  
}